
//Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$grid-width: (
  xs: 360px,
  sm: 520px,
  md: 720px,
  lg: 880px,
  xl: 1120px,
  xxl: 1200px
);

// Colors
$primary-color: #FEF5E5;
$secondary-color: #003757;
$light-secondary-color: #0FACC4;
$tertiary-color: #FF6C71;
$quaternary-color: #FFC82E;

$black-color: #111;
$grey-color: #5f5b5b;
$light-grey-color: #919191;
$white-color: #FEF5E5;


$overlay-color: rgba(0,0,0,0.6) ;

$success-color: #2a892a;
$danger-color: #d02121;
$warning-color: #c1aa17;


//Layout


//Grid
$grid-columns: 12;

//Spacings
$spacings: (
    m: margin,
    mt: margin-top,
    mb: margin-bottom,
    ml: margin-left,
    mr: margin-right,
    p: padding,
    pt: padding-top,
    pb: padding-bottom,
    pl: padding-left,
    pr: padding-right,
);